{% load static %}


  
     {% include "store/inc/header.html" %}
  
  
      
  
      
  
      {% block content %}
      
      {% endblock content %}
  
      
      
     
      
  
      

    <script type="text/javascript" src="https://demo.templatetrend.com/prestashop/PRS703_4/themes/core.js"></script>
    <script type="text/javascript"
        src="https://demo.templatetrend.com/prestashop/PRS703_4/themes/PRS703_4/assets/js/theme.js"></script>
    <script type="text/javascript"
        src="https://demo.templatetrend.com/prestashop/PRS703_4/modules/ps_emailsubscription/views/js/ps_emailsubscription.js"></script>
    <script type="text/javascript"
        src="https://demo.templatetrend.com/prestashop/PRS703_4/modules/blockreassurance/views/dist/front.js"></script>
    <script type="text/javascript"
        src="https://demo.templatetrend.com/prestashop/PRS703_4/modules/ttslideshows/views/js/nivo-slider/jquery.nivo.slider.pack.js"></script>
    <script type="text/javascript"
        src="https://demo.templatetrend.com/prestashop/PRS703_4/modules/ttslideshows/views/js/ttslideshow.js"></script>
    <script type="text/javascript"
        src="https://demo.templatetrend.com/prestashop/PRS703_4/modules/ttcookie/views/js/ttcookie.js"></script>
    <script type="text/javascript"
        src="https://demo.templatetrend.com/prestashop/PRS703_4/modules/productcomments/views/js/jquery.rating.plugin.js"></script>
    <script type="text/javascript"
        src="https://demo.templatetrend.com/prestashop/PRS703_4/modules/productcomments/views/js/productListingComments.js"></script>
    <script type="text/javascript"
        src="https://demo.templatetrend.com/prestashop/PRS703_4/modules/otpopupnewsletter/views/js/jquery.cookie.js"></script>
    <script type="text/javascript"
        src="https://demo.templatetrend.com/prestashop/PRS703_4/modules/otpopupnewsletter/views/js/newsletter-popup.js"></script>
    <script type="text/javascript"
        src="https://demo.templatetrend.com/prestashop/PRS703_4/js/jquery/ui/jquery-ui.min.js"></script>
    <script type="text/javascript"
        src="https://demo.templatetrend.com/prestashop/PRS703_4/modules/ps_searchbar/ps_searchbar.js"></script>
    <script type="text/javascript"
        src="https://demo.templatetrend.com/prestashop/PRS703_4/themes/PRS703_4/modules/ps_shoppingcart/ps_shoppingcart.js"></script>
    <script type="text/javascript"
        src="https://demo.templatetrend.com/prestashop/PRS703_4/modules/xipblog/js/xipblog.js"></script>
    <script type="text/javascript"
        src="https://demo.templatetrend.com/prestashop/PRS703_4/modules/xipblog/js/validator.min.js"></script>
    <script type="text/javascript"
        src="https://demo.templatetrend.com/prestashop/PRS703_4/themes/PRS703_4/assets/js/owl.carousel.js"></script>
    <script type="text/javascript"
        src="https://demo.templatetrend.com/prestashop/PRS703_4/themes/PRS703_4/assets/js/ParallaxBackground.js"></script>
    <script type="text/javascript"
        src="https://demo.templatetrend.com/prestashop/PRS703_4/themes/PRS703_4/assets/js/jquery.total-storage.min.js"></script>
    <script type="text/javascript"
        src="https://demo.templatetrend.com/prestashop/PRS703_4/themes/PRS703_4/assets/js/jquery.ui.totop.js"></script>
    <a href="#" id="toTop" style="display: inline;"><span id="toTopHover"></span>To Top</a>
    <script type="text/javascript"
        src="https://demo.templatetrend.com/prestashop/PRS703_4/themes/PRS703_4/assets/js/custom.js"></script>


  
  
  
  
  
  
  </body>
</html>